
.intro{
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    text-align: center;
  }
  .intro h2{
    text-align: center;
  }
  .intro h3{
    border: 2px solid red;
    width: 300px;
    padding: 8px 16px 8px 16px;
    margin-left: 50px;
    border-radius: 8px 16px 8px 16px ;
    text-align: center;
    font-weight: bold;
    background-color: #D71A27;
     color: #ccc;
    border: 2px solid rgb(245, 244, 244);
  }
  .about-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.about-table th, .about-table td {
    border: 2px solid #ddd;
    padding: 12px;
    font-size: 16px;
    color: #333;
}

.about-table th {
    background-color: #D71A27;
    color: white;
    font-weight: bold;
}

.about-table tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}
 
@media(max-width:1000px){
  h3{
   max-width: 90%;
   padding: 6px 10px;
   font-size: 12px;
  }
}

  .intro p{
    margin-right: 30px;
    font-size: 15px;
  }
  .intro table{
    width: 100%;
  }
  .about-table th, .about-table td {
    padding: 8px;
    font-size: 14px;
}
  